* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: #171819;
    color: white;
    box-shadow: 0 6px 9px -4px rgb(0, 0, 0)
}

.logo {
    display: flex;
    font-size: 20px;
    margin-left: 30px;
}

.logo span {
    color: #ffb612;
}

nav .ul-list {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    gap: 20px;
    margin-right: 30px;
}

.ul-items {
    text-decoration: none;
    color: white;
    position: relative;
}

.ul-items::after {
    content: " ";
    width: 0px;
    height: 0px;
    background-color: #ffb612;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s;
}

.ul-items:hover::after {
    width: 100%;
    height: 2px;
    transition: 1s;
}

.background {
    background-image: url(../img/treinar-pesado-1568x836.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.background .overlay {
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

@keyframes fade-in {
    from {
        opacity: 0;
        top: 100%;
    }

    to {
        opacity: 1;
    }
}

.impact-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fade-in 3s;
}

.impact-section h1 {
    color: white;
    font-size: 40px;


}

.impact-section span {
    color: #ffb612;
    transition: 0.5s;
}

.impact-section span:hover {
    color: #ffee00;
    transition: 0.5s;
}

.impact-section p {
    font-size: 20px;
    color: #a1a1a1;
}

.button {
    margin-top: 20px;
}

.impact-section .btn {
    text-decoration: none;
    padding: 15px 20px;
    background-color: #ffb612;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    transition: 0.5s;
}

.impact-section .btn:hover {
    background-color: #ffee00;
    transition: 0.5s;
}

.section-location {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.section-location h2 {
    font-size: 30px;
}

.section-location span {
    color: #ffcc00;
}

.section-location img {
    margin-top: 30px;
    width: 80%;
    height: 50vh;
    border-radius: 20px;
    position: relative;
}

.escolher-academia {
    background-color: #ffffff;
    text-align: center;
    padding: 10px 50px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: absolute;
    margin-top: 5%;
    font-weight: 500;
    transition: 0.5s;
}

.escolher-academia:hover {
    background-color: #fff23d;
    transition: 0.5s ease-in-out;
}

.search-icon-area {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.search-icon-area img {
    width: 30px;
    height: 30px;
    color: white;
}

.prices-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}


.experience-section h2 span {
    color: #ffcc00;
}
    
.cards-conteiner {
    text-align: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    justify-content: center;
    margin-top: 10px;
}

.cards img {
    width: 100%;
    height: 85%;
    border-radius: 10px 10px 0 0;
    transition: 1px;
}



.cards {
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 0.1s;
    border: solid 0px #ffee00;
    font-weight: 200;
    animation: entrada-lado 3s;
    transition: all linear 0.3s;

}

.cards:hover {
    border: solid 2px #fffb00;
    box-shadow: none;
    transition: 0.1s;
    transform: scale(1.05);
}


.app-section {
    display: flex;
    justify-content: space-around;
    background: #a1a1a1;
    align-items: center;
    margin-top: 100px;
}

.app-img {
    position: relative;
    width: 100%;
    max-width: 530px;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #ffb612;
}

footer {
    margin-top: 100px;
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    flex-direction: column;
    height: 70vh;
}

footer h2 {
    color: white;
}

.footer-lists {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.footer-lists a {
    color: white;
    font-weight: 300;
}

.footer-logo {
    text-align: center;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer-logo span {
    color: #ffb612;
}

.footer-logo::after {
    content: " ";
    width: 80%;
    height: 2px;
    background-color: #a1a1a1;
    position: absolute;
    margin-top: 100px;
}

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime="left"] {
    transform: translate3d(-500px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(-500px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}






@media (max-width: 600px) {
    nav {
        position: static;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav .ul-list {
        margin-right: 0;
        font-size: 15px;
    }

    .impact-section h1 {
        font-size: 30px;
        text-align: center;
    }

    .section-location h2 {
        font-size: 20px;
    }

    .section-location img {
        width: 100%;
        height: 40vh;
    }

    .search-icon-area {
        display: none;
    }

    .section-location a {
        padding: 8px 30px;
        margin-top: 20%;
    }

    .app-info {
        text-align: center;
    }

    .app-img {
        display: none;
    }

    .footer-lists {
        flex-wrap: wrap;
        justify-content: start;
    }

    footer {
        height: 100vh;
    }
}